@page "/runners"

<Table TItem="Runner" DataSource="@RunnerList" OnExpand="OnRowExpand">
    <RowTemplate>
        <Column Field="@context.Id" Title="Id"></Column>
        <Column Field="@context.Name" Title="Name"></Column>
        <Column Field="@context.State" Title="State"></Column>
    </RowTemplate>
    <ExpandTemplate Context="rowData">
        <Image Src=@("data:image/png;base64, " + rowData.Data.Screenshot) />
    </ExpandTemplate>
</Table>