@page "/run/{id:long}"

<h1>@_run?.Name</h1>

<Divider/>

<div>
    <Row>
        <Col Span="16">
            <h3>Test cases</h3>
            <AntList DataSource="@_run?.TestCases" TItem="TestCase">
                <ListItem>
                    <ListItemMeta Description="@context?.Name">
                        <TitleTemplate>
                            <span Class="btn btn-link">@context?.Name</span>
                        </TitleTemplate>
                    </ListItemMeta>
                </ListItem>
            </AntList>
        </Col>

        <Col Span="1">
            <Divider Type="DirectionVHType.Vertical" Style="height: 100%"></Divider>
        </Col>

        <Col Span="7">
            There is nothing here
        </Col>
    </Row>
</div>