<AntList DataSource="@_testCases" TItem="TestCase">
    <ChildContent>
        <ListItem>
            <ListItemMeta Description="@(context?.Description ?? "There is no description")">
                <TitleTemplate>
                    <h5>@context?.Name</h5>
                </TitleTemplate>
            </ListItemMeta>
        </ListItem>
    </ChildContent>
    <LoadMore>
        @if (_loading is false && _testCases?.Count != MaxTestCaseCount)
        {
            <div class="float-right mt-1">
                <Button Class="btn btn-primary" OnClick="LoadMore">Load more</Button>
            </div>   
        }
    </LoadMore>
</AntList>